@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: rgb(240, 233, 240);
  margin: 0 auto;
  text-align: center;
}

.list {
  display: flex;
  justify-content: space-between;
  margin: 10px 100px;
}

a {
  text-decoration: none;
  color: rgb(1, 83, 103);
}

li {
  list-style: none;
}

.list-home {
  text-transform: uppercase;
  font-size: 24px;
}

.list-login {
  display: flex;
  gap: 50px;
  align-items: center;
}

.btn-logout {
  border: none;
  outline: none;
  background-color: rgb(7, 93, 106);
  color: #fff;
  padding: 10px 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
